.fsSmall {
  font-size: 1.4rem;
}

.fsMedium {
  font-size: 1.6rem;
}

.fsLarge {
  font-size: 2rem;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.colorWhite {
  color: var(--white);
}

.colorDark {
  color: var(--dark);
}

.colorRed {
  color: var(--red);
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}