.root {
  padding: 4rem 0 0;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
  column-gap: 4.3rem;
}