.root {
  margin-bottom: 4rem;
}

.withBG {
  padding: 0.5rem 2.7rem 2rem;
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 1180px;
  margin: 0 auto 6rem;
}

.title {
  margin-bottom: 2rem;
}

.list {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  list-style-type: disc;
  padding-left: 2rem;
  padding-right: 4rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.noNeedToThink {
  margin: 0 3rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--white);
  color: var(--red);
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;

  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }
}

.cared {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  top: 9rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 2px solid var(--white);
  background-color: var(--red);
  color: var(--white);
  width: 90%;
  transform: translateX(10%);
}

.flag {
  position: absolute;
  width: 5rem;
  top: -2rem;
  right: -2rem;
}

.statisticsBlock {
  padding: 0 3rem;
  margin: 0 auto;
}

.statisticsText {
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--white);
  color: var(--dark);
  font-family: 'SF Pro Text', Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;

  span {
    color: var(--red);
    font-weight: 700;
  }
}

.noNeedToThink,
.statisticsBlock {
  max-width: min(80%, 700px);
}

@media screen and (min-width: 768px) {
  .flag {
    width: 8.3rem;
  }

  .withBG {
    padding-top: 3.5rem;
    padding-bottom: 10rem;
  }
}