.root {
  padding: 2rem 4rem;
  border-radius: 0.4rem;
  background: var(--white);
  max-width: 25rem;
}

.img {
  margin-bottom: 1rem;
}

.price {
  margin-bottom: 1.5rem;
}

.link {
  max-width: 13.5rem;
  margin: 0 auto;
}