.root {
  padding: 3.5rem 0;
  background: url('../../shared/assets/img/aboutUsBG.png');
  background-size: cover;
  background-position: 10%;
}

.title {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 2rem;
  column-gap: 5rem;
  list-style-type: none;
}