.root {
  position: relative;
}

.country {
  fill: rgba(255, 255, 255, 0.8);
}

.estoniaLink {
  position: absolute;
  top: 6rem;
  left: 10rem;
}

.latviaLink {
  position: absolute;
  top: 17rem;
  left: 11rem;
}

.lithuaniaLink {
  position: absolute;
  top: 27rem;
  left: 5rem;
}