.root {
  position: relative;
  max-width: 25rem;
  margin: 0 auto;
}

.country {
  fill: rgba(255, 255, 255, 0.8);

  &:hover {
    cursor: pointer;
  }
}

.estoniaLink {
  position: absolute;
  top: 6rem;
  left: 10rem;
}

.latviaLink {
  position: absolute;
  top: 17rem;
  left: 11rem;
}

.lithuaniaLink {
  position: absolute;
  top: 27rem;
  left: 5rem;
}

@media screen and (min-width: 992px) {
  .estoniaLink,
  .latviaLink,
  .lithuaniaLink {
    display: none;
  }

  .country:hover {
    fill: var(--red);
  }
}