.container {
  padding: 0 3rem;
  margin: 0 auto;
}

.title {
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: var(--white);
  font-size: 2.0rem;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 400;
  border-spacing: 0;
  margin-bottom: 1.5rem;
  max-width: 380px;

  td {
    border: 1px solid var(--white);
    text-align: center;
    padding: 1rem 0.7rem;
  }

  td:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  td:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 2rem;
  }
}

.descriptionTitle {
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 3.5rem;
}

.img {
  padding: 0 2.5rem;
  margin: 0 auto 3.5rem;
}

.carousel {
  padding: 0 5rem;
  max-width: 800px;
  margin: 0 auto 2rem;
}

.arrow {
  width: 2.4rem;
  height: auto;
  transform: translateY(-50%);
}

.prevArrow {
  left: -3rem;
}

.nextArrow {
  transform: translateY(-50%) scaleX(-1);
  right: -3rem;
}

.contacts {
  margin-bottom: 2rem;
}