.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 13.5rem;
}

@media screen and (min-width: 992px) {
  .root {
    width: 22rem;
  }
}